<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <h1>Alan Brown</h1>

            <address>
                9557 Cove Creek Drive <br />
                Highlands Ranch, CO. 80129<br />
                <abbr title="Phone">P:</abbr>
                303.908.3435
            </address>

            <address>
                <strong>Email:</strong> <a href="mailto:alan.s.brown@comcast.net">alan.s.brown@comcast.net</a><br />
                <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/alan-sidney-brown" target="_blank">https://www.linkedin.com/in/alan-sidney-brown</a><br />
                <strong>Resume:</strong> <a href="/data/Resume-AlanBrown.pdf" target="_blank">Click Here to Download</a><br />
            </address>
            <hr />
            <div class="panel panel-primary">
                <div class="panel-heading">This is my new personal single-page application (SPA) built with:</div>
                <div class="panel-body">
                    <ul>
                        <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
                        <li><a href='https://angular.io/'>Angular 2</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
                        <li><a href='https://webpack.github.io/'>Webpack</a> for building and bundling client-side resources</li>
                        <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
                    </ul>
                </div>
            </div>
           
            <hr />
            <div class="panel panel-success">
                <div class="panel-heading">
                    The data source for this Angular 2 site is my <a href="https://sportlogger.azurewebsites.net/">Sport Logger</a> application built with:
                </div>
                <div class="panel-body">
                    <ul>
                        <li>ASP.NET Core MVC</li>
                        <li>Web API</li>
                        <li>Entity Framework (Sql Server 2016 back-end)</li>
                        <li><a href="https://sportlogger.azurewebsites.net/swagger/" target="_blank">Swagger Web API</a> Description Page</li>

                    </ul>
                </div>
            </div>
            
        </div>
        <div class="col-sm-6  text-center">
            <div class="row">
                <img class="img-responsive img-circle" src="/data/family.jpg" />
            </div>
            <br />
            <div class="row">
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Bootstrap Modal</button>
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>
                    This is a bootstrap modal displayed using CSS attributes on the button.
                    <br /> data-toggle="modal" data-target="#myModal"
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
